<p id="notice"><%= notice %></p>

<h1>Listing Actions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kactions.each do |kaction| %>
      <tr>
        <td><%= kaction.description %></td>
        <td><%= kaction.target %></td>
        <td><%= link_to 'Show', kaction %></td>
        <td><%= link_to 'Edit', edit_kaction_path(kaction) %></td>
        <td><%= link_to 'Destroy', kaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kaction', new_kaction_path %>
